span {
	position: relative;
	display: inline-block;
	height: 600px;
	width: 400px;
}
a {
	position: relative;
	height: 600px;
	width: 400px;
}
img {
	position: absolute;
	height: 600px;
	width: 400px;
	line-height: 0;
}
p {
	top: 100;
	position: absolute;
	line-height: 1em;
}
#content {
	position: absolute;
	top: 50px;
	width: 100%;
}